
header{ color: darkblue;
background-color: #D81E5B;
text-align: center;
padding:0;
/*This is the styling for the header */
}
h2{
color: #23395B;
font-size: 12px;
font-family: tahoma;
}
/*This is styling for the h2*/
article{

background-color: #59C9A5;
text-align: center;
margin-top:-16px;
}
/*This is the styling for article*/
img{
  width: 300px;
  height: 300px;
  align:middle;
}
/*This is the styling fot the img*/
h3{
font-size: 12px;
font-family:montserrat;
}
/*This is the styling for the h3 elements */

footer{
  text-align: center;
  align: center;
font-size: 10px;
background-color: red;
margin-top:-16px;
}
/*This is the styling for the footer */

ul {
    display: table;
   margin:0 auto;
}
/*This is the styling for the unordered lists */

ol {
   display: table;
   margin:0 auto;
}

/*This is the styling for the ordered lists */


li {
  text-align: left;
}
/*This is the styling for the list items */

a{
font-family: helvetica;
font-size: 12px;

}
/*This is the styling for the links */